<div class="editButton">
    <a asp-controller="Edit" asp-action="Index" asp-route-type="Word">Редактировать слова</a>
    <a asp-controller="Edit" asp-action="Index" asp-route-type="Sentence">Редактировать предложения</a>
    <a asp-controller="Edit" asp-action="Index" asp-route-type="Grammar">Редактировать грамматику</a>
</div>