<footer>
    <div id="footer-wrapper">
        &copy; 2024 - MyDictionary - 
        // <a asp-area="" asp-controller="Home" asp-action="Index">Home Page</a> // 
        <a asp-area="" asp-controller="Home" asp-action="Edit">Edit Page</a> //
    </div>
</footer>