<div id="header-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-12">

				<header id="header">
					<h1><a asp-controller="Home" asp-action="Index" id="logo">MyDictionary</a></h1>
					<nav id="nav">
						<a asp-controller="Home" asp-action="Index">Главная</a>
						<a asp-controller="Home" asp-action="Edit">Edit</a>
						<a asp-controller="Home" asp-action="CommonTask">CommonTask</a>
						<a asp-controller="Home" asp-action="HomeTask">HomeTask</a>
						<a asp-controller="Home" asp-action="EditTask">EditTask</a>
					</nav>
				</header>
			</div>
		</div>
	</div>
</div>