<div class="homeButton">
    <div class="homeButtonLink">
        <a asp-controller="Word" asp-action="CheckWords">Проверить слова</a>
    </div>
    <div class="homeButtonLink">
        <a asp-controller="Sentence" asp-action="CheckSentences">Проверить предложения</a>
    </div>
    <div class="homeButtonLink">
        <a asp-controller="Grammar" asp-action="CheckGrammar">Проверить грамматику</a>
    </div>
</div>
