@{
    ViewData["Title"] = "HomeTask Page";
}

<div class="homePage">

    @await Html.PartialAsync("HomeButtonPartial")

    <div class="homeHeader">

        <h1 class="title">My dictionary</h1>
        <hr class="horizontal-line" /><br />

        <div class="displayFlex row">
            <p>Тут будет функционал использования своего пользовательского словаря.</p>
            <h3>Предполагается:</h3>
            <p>1. Выбор режима работы (повторение слов, создание предложений, м.б. проверка грамматики).</p>
            <p>2. Выводятся слова (или предложения, или грамматика).</p>
            <p>3. Перевод на английский язык - написать в поле input type="text" или выбрать сооьветствующую кнопку с вариантом ответа.</p>
            <p>4. Создать саму БД.</p>
            <p>5. Конфигурировать подключение к БД через строку подключения.</p>
            <p>6. Создать функционал вывода, создания, редактирования, удаления данных.</p>
        </div>
    </div>

</div>