@model Word

<div class="editPage">

    @await Html.PartialAsync("EditButtonPartial")

    <div class="editHeader">

        <h1 class="title">Create, edit, delete words</h1>
        <hr class="horizontal-line" />

        @* для CKEditor 5 *@
        <script src="~/js/ckeditor5/ckeditor5.js"></script>

        <div class="displayFlex2">
            <div class="flexColumn">

                <form asp-controller="Word" asp-action="SaveWord" method="post">
                    <input type="hidden" asp-for="Id" />
                                        
                    <div asp-validation-summary="All"></div>
                    <div class="card">
                        <label asp-for="EngValue"></label>
                        <input type="text" asp-for="EngValue" />
                        <span asp-validation-for="EngValue"></span>
                    </div>
                    <div class="card">
                        <label asp-for="Transcription"></label>
                        <div class="">      <!-- <div class="main-container"> -->
                            <div class="editor-container editor-container_inline-editor" id="editor-container">
                                <div class="editor-container__editor">
                                    <div name="editor" id="editor"></div>
                                </div>
                                <textarea name="insertText" asp-for="Transcription" rows="1" cols="86">
                                    Сюда вставим транскрипцию слова для сохранения модели
                                </textarea>
                            </div>
                        </div>
                        <span asp-validation-for="Transcription"></span>
                    </div>
                    <div class="card">
                        <label asp-for="RusValue"></label>
                        <input type="text" asp-for="RusValue" />
                        <span asp-validation-for="RusValue"></span>                        
                    </div>
                    <div class="edit-box-left inline">
                        <label asp-for="PartOfSpeech"></label>
                        <select asp-for="PartOfSpeech" 
                            asp-items="Html.GetEnumSelectList<PartsOfSpeech>()">
                        </select>
                        <span asp-validation-for="PartOfSpeech"></span>
                    </div>
                    <div class="card">
                        <input type="submit" class="submitButton" id="submit" value="Сохранить" />
                    </div>
                 </form>
            </div>
         </div>
    </div>
</div>
@await Html.PartialAsync("ScriptCkeditorPartial")
