@model CheckWordsViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="homePage">

    @await Html.PartialAsync("HomeButtonPartial")

    <div class="homeHeader">

        <h1 class="title">My dictionary</h1>
        <hr class="horizontal-line" /><br />
        
        <div class="displayFlex">
            <div class="col-3 col-12-medium flexColumn">
                <div class="card inline">
                    <span>
                        <p>@Model.SelectedWords.FirstOrDefault(x => x.Id == Model.IndexOfCheckedWord).RusValue</p>
                    </span>
                </div>
                <div class="border-box inline">
                    <p>Index: @Model.IndexOfCheckedWord</p>
                    <p>Часть речи: @Model.SelectedWords.First().PartOfSpeech</p>
                </div>
            </div>

            <div class="col-9 col-12-medium">

                <div class="displayFlexRow wrap">
                    @foreach (var item in Model.SelectedWords)
                    {
                        <button class="card">@item.EngValue</button>
                    }
                </div>
                
                <div class="border-box">
                    <div>
                        <p>Оценка: </p>
                    </div>
                    <div class="flexRow space-between">
                        <div><p>Всего вопросов: </p></div>
                        <div><p>Правильно:   %</p></div>
                        <div><p>Не правильно:   %</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
