@{
    ViewData["Title"] = "CommonTask Page";
}

<div class="homePage">

    @await Html.PartialAsync("HomeButtonPartial")

    <div class="homeHeader">

        <h1 class="title">My dictionary</h1>
        <hr class="horizontal-line" /><br />

        <div class="displayFlex row">
            <p>Тут будет функционал своего пользовательского словаря.</p>
            <h3>Предполагается:</h3>
            <p>1. Создать пользовательский UI.</p>
            <p>2. Создать необходимые модели для данных.</p>
            <p>3. Создать мокковые данные для БД.</p>
            <p>4. Создать саму БД.</p>
            <p>5. Конфигурировать подключение к БД через строку подключения.</p>
            <p>6. Создать функционал вывода, создания, редактирования, удаления данных.</p>
        </div>
    </div>

</div>