@{
    ViewData["Title"] = "EditTask Page";
}

<div class="homePage">

    @await Html.PartialAsync("HomeButtonPartial")

    <div class="homeHeader">

        <h1 class="title">My dictionary</h1>
        <hr class="horizontal-line" /><br />

        <div class="displayFlex row">
            <p>Тут будет функционал редактирования своего пользовательского словаря.</p>
            <h3>Предполагается:</h3>
            <p>1. Ввод новых слов и их перевода.</p>
            <p>2. Редактирование существующих слов и их перевода.</p>
            <p>3. Удаление слов и их перевода.</p>
            <p>4. Работа со словосочетаниями / предложениями.</p>
            <p>5. Работа с грамматикой.</p>
        </div>
    </div>

</div>