@{
    ViewData["Title"] = "EditTask Page";
}

<div class="text-center">
    <h1 class="display-4">My dictionary</h1>
    <p>Тут будет функционал редактирования своего пользовательского словаря.</p>
    <h3>Предполагается:</h3>
    <p>1. Ввод новых слов и их перевода.</p>
    <p>2. Редактирование существующих слов и их перевода.</p>
    <p>3. Удаление слов и их перевода.</p>
    <p>4. Работа со словосочетаниями / предложениями.</p>
    <p>5. Работа с грамматикой.</p>
    
</div>

