@{
    ViewData["Title"] = "Edit Page";
}

<div class="editPage">
    
    @await Html.PartialAsync("EditButtonPartial")

    <div class="editHeader">
        
        <h1 class="title">My dictionary</h1>
        <hr class="horizontal-line" /><br />

        <div class="displayFlex row">
            
            <p>Тут будут вводиться, создаваться, редактироваться, удаляться слова и их переводы.</p>
        </div>
        
    </div>
</div>

