<div class="editButton">
    <a asp-controller="" asp-action="">Создать/изменить/удалить слова</a>
    <a asp-controller="" asp-action="">Создать/изменить/удалить</a>
    <a asp-controller="" asp-action="">Создать/изменить/удалить грамматику</a>
</div>