<div class="homeButton">
    <div class="homeButtonLink">
        <a asp-controller="Home" asp-action="CheckWords">Проверить слова</a>
    </div>
    <div class="homeButtonLink">
        <a asp-controller="Home" asp-action="CheckSentences">Проверить предложения</a>
    </div>
    <div class="homeButtonLink">
        <a asp-controller="Grammar" asp-action="">Проверить грамматику</a>
    </div>
</div>
