<div class="homeButton">
    <a asp-controller="" asp-action="">Проверить слова</a>
    <a asp-controller="" asp-action="">Проверить предложения</a>
    <a asp-controller="" asp-action="">Проверить грамматику</a>
</div>
