
<div class="homePage">
    
    @await Html.PartialAsync("HomeButtonPartial")

    <div class="homeHeader">
        
        <h1 class="title">My dictionary</h1>
        <hr class="horizontal-line" /><br />

        <div class="displayFlex row">
            <form asp-controller="Home" asp-action="GetPartOfSpeech">
                <p>Тут будет функционал использования своего пользовательского словаря.</p>
                <button type="button" class="btn btn-info"
                        data-toggle="modal" data-target="#chooseItem">Выбрать часть речи
                </button>
            </form>
            
        </div>
    </div>

 </div>
@await Html.PartialAsync("ChoosePartOfSpeechPartial")