
<div class="homePage">
    
    @await Html.PartialAsync("HomeButtonPartial")

    <div class="homeHeader">
        
        <h1 class="title">My dictionary</h1>
        <hr class="horizontal-line" /><br />

        <div class="displayFlex row">
            
            <p>Тут будет функционал использования своего пользовательского словаря.</p>
        </div>
    </div>

 </div>
