@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">My dictionary</h1>
    <p>Тут будет функционал использования своего пользовательского словаря.</p>
    

</div>
