<div class="editButton">
    <a asp-controller="Edit" asp-action="EditWords">Редактировать слова</a>
    <a asp-controller="Edit" asp-action="EditSentences">Редактировать предложения</a>
    <a asp-controller="Edit" asp-action="EditGrammar">Редактировать грамматику</a>
</div>